# General
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
_build
.eggs/
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
test-reports/*

# Caches
Thumbs.db

# Development
.project
.pydevproject
.settings
.idea/
.history/
.vscode/

# Testing
.cache
test-reports/*
.pytest_cache/*

# SCM VERSION
source/ftrack_api/_version.py
